<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/skeleton.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
    <script src="/js/production-app.js">

    </script>
    <title></title>
  </head>
  <body class="container">
    <div ui-view></div>

  </body>
</html>
