<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/style.css" media="screen" title="no title" charset="utf-8">
    <title>Danstagramm!</title>
  </head>
  <body class="container">

    <div ui-view></div>

    <script src="/scripts/jquery/dist/jquery.js"></script>
    <script src="/scripts/jquery-bridget/jquery-bridget.js"></script>
    <script src="/scripts/ev-emitter/ev-emitter.js"></script>
    <script src="/scripts/desandro-matches-selector/matches-selector.js"></script>
    <script src="/scripts/fizzy-ui-utils/utils.js"></script>
    <script src="/scripts/get-size/get-size.js"></script>
    <script src="/scripts/outlayer/item.js"></script>
    <script src="/scripts/outlayer/outlayer.js"></script>
    <script src="/scripts/masonry-layout/masonry.js"></script>
    <script src="/scripts/imagesloaded/imagesloaded.js"></script>
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-masonry/angular-masonry.js"></script>
    <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/production-app.js"></script>
  </body>
</html>
