<div id='photos'>
  <div class='photo-background' ng-repeat="photo in photos | limitTo:quantity" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
    <img ng-src="{{ photo.file }}" />
    <div ng-show="isActive" class="photo-data">
      <div class="photo-data-inside">
        <button ng-click="likeHandler()">{{ photo.heart }} {{ photo.likes.length }}</button>
        <p><a ui-sref="parent.user-page({ uploader_id: photo.uploader_id })">{{ photo.uploader }}</a></p>
        <p>{{ photo.caption }}</p>
        <p ng-click="highlightPhoto()">{{ photo.comments.length }} comments</p>
      </div>

    </div>

  </div>

</div>

<button ng-show="photos.length > quantity" ng-click="showMore()">Show more</button>
