<div ng-controller="loginSignupController">

  <div class="row">
    <div class="twelve columns">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <form action="/" method="post">
        <input type="text" placeholder="username" ng-model="loginUsername">
        <input type="text" placeholder="password" ng-model="loginPassword">
        <button type="button" ng-click="loginSubmit()">Submit</button>
      </form>
    </div>


    <div class="six columns">
      <form action="/" method="post">
        <input type="text" placeholder="username" ng-model="signupUsername">
        <input type="text" placeholder="password" ng-model="signupPassword">
        <input type="text" placeholder="confirm password" ng-model="confirmPassword">
        <button type="button" ng-click="signupSubmit()">Submit</button>
      </form>
    </div>

  </div>



</div>
